<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
      <p>
        <strong>Title:</strong>
        <%= @product.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency @product.price %>
      </p>

      <p>
        <strong>Image:</strong>
        <%= image_tag(@product.picture_url, width: 600) if @product.picture.present? %>
      </p>
  </div>

</div>
  <p>  <%= link_to 'Edit', edit_product_path(@product) %> |
       <%= link_to 'Back', products_path %></p>
